<h2>Log Into My Account</h2>

<form class="" action ="/login" method="post">
  <label form="email">Email:</label>
  <input type="text" name ="email" id="email" value="">
  <label form="password">Password:</label>
  <input type="text" name ="password" id="password" value="">
  <input type="submit" name ="" value="Log In!">
</form>

<h4><a href="/signup"><pre>Don't have an account?</pre></a></h4>